 /*navbar-start*/
  
 .navbar {
    color:rgb(81, 193, 154);
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:hsla(122, 41%, 78%, 1);
    box-shadow: 0 0 30px green;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
    position: relative;
  }
  
  .nav-item a {
    color:black;
    text-decoration: none; 
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:hsla(122, 41%, 78%, 1);
    padding: 10px;
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #000;
    width: 100px;
  }
  
  .dropdown-menu li {
    margin-bottom: 5px;
  }
  
  .nav-item:hover .dropdown-menu,
  .nav-item:focus-within .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li:hover {
    background-color: hsla(0, 0%, 20%, 1);
    color: #000; /* Set text color to black */
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  .nav dropdown-icon img{
    width: 200px;
    height: 20px;
  }
  .navbar .dropdown-icon img{
    display: none;
    cursor: pointer;
    background-color: seagreen;
    width: 40px;
  }
    /*navbar-end*/
    body{
        background-color: silver;
    }